.header {
    border: 1px solid #ececec;
}
.menu {
    display: none;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 93px;
    @include tablet {
        gap: 83px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 46px;
        @include tablet {
            gap: 60px;
        }
    }
    &__item {
        color: $primaryFontColor;
        font-weight: 500;
        text-decoration: none;

        letter-spacing: 0.02em;
        font-size: 14px;
        line-height: 1.17;
        transition: color $primaryTransition;
        position: relative;
        &:hover,
        &:focus {
            color: $brandColor;
        }
    }
    &__point {
        color: $brandColor;
        &::after {
            content: '';
            background: $brandColor;
            width: 100%;
            height: 4px;
            left: 0;

            position: absolute;
            border-radius: 2px;
            @include tablet {
                top: 48px;
            }
            @include desktop {
                top: 44px;
            }
        }
    }
}
.logo {
    color: $brandColor;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    @include desktop {
        font-size: 26px;
        justify-content: flex-start;
    }
    &__black {
        color: #000000;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        @include desktop {
            font-size: 26px;
            line-height: 1.19;
        }
    }
    // wariant biały logo z sekcji footer
    &__white {
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        @include desktop {
            font-size: 26px;
            line-height: 1.19;
        }
    }
}
.contact {
    @include tablet {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 21px 0;
        align-items: start;
    }
    @include desktop {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 30px 0;
        gap: 50px;
    }

    &__data {
        color: $secondaryFontColor;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: 0.02em;
        font-size: 14px;
        line-height: 1.17;
        transition: color $primaryTransition;
        &:hover,
        &:focus {
            color: $brandColor;
            fill: $brandColor;
        }
    }
    &__mail-icon {
        vertical-align: middle;
        fill: currentColor;
        margin-right: 8px;
    }
    &__phone-icon {
        vertical-align: middle;
        fill: currentColor;
        margin-right: 8px;
    }
}
// style dla mobile header

.mobile-header-container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 23px;
    margin-left: auto;
    margin-right: auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform $primaryTransition;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        display: none;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 36px;
    flex-basis: 514px;

    &__link {
        font-size: 40px;
        line-height: 1.17;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $primaryFontColor;

        &:hover,
        &:focus {
            color: $brandColor;
        }
    }
}
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &__icon {
        fill: $primaryFontColor;
        &:hover,
        &:focus {
            fill: $brandColor;
        }
    }
}
.menu-container .menu-toggle {
    position: absolute;
    top: 21px;
    right: 25px;
    color: #fff;
}
.mobile-contact {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-basis: 176px;

    &__tel {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $brandColor;
        text-decoration: none;
    }
    &__mail {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $secondaryFontColor;
        text-decoration: none;
    }
}
.mobile-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
        &:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            padding-right: 10px;
        }
        &:not(:first-child) {
            padding-left: 10px;
        }
    }
    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1, 22;
        letter-spacing: 0.02em;
        color: $brandColor;
    }
}
