.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
    @include desktop {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin-left: 13px;
        align-items: flex-start;
    }
    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    &__title {
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__email {
        height: 50px;
        max-width: 450px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: $backgroundColor;
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        padding: 15px 16px;
        @include desktop {
            max-width: 358px;
            width: 100%;
        }
    }
    &__button {
        cursor: pointer;
        height: 50px;
        width: 200px;
        background-color: $brandColor;
        color: #fff;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        font-weight: 700;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-family: 'Roboto', sans-serif;
        padding: 0 0 0 14px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        @include desktop {
            margin-top: 36px;
        }
    }
    &__icon {
        fill: #fff;
        vertical-align: middle;
    }
}
