.services {
    display: none;
    @include desktop {
        display: flex;
        gap: 30px;
        padding-bottom: 94px;
    }

    &__image {
        @include desktop {
            position: relative;
        }
    }
    &__label {
        @include desktop {
            position: absolute;
            bottom: 0;
            width: 370px;
            height: 70px;
            color: #fff;
            text-align: center;
            background-color: rgba(47, 48, 58, 0.8);
            padding: 27px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.17;
            text-transform: uppercase;
            letter-spacing: 0.03em;
        }
    }
}
.mobile-none {
    display: none;
    @include desktop {
        display: block;
    }
}
