.team {
    background-color: #f5f4fa;
    padding: 60px 0;
    @include desktop {
        background-color: #f5f4fa;
        padding: 94px 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include desktop {
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-top: 50px;
            flex-wrap: nowrap;
        }
    }
    &__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    &__description {
        padding: 30px;
        text-align: center;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include tablet {
            padding: 30px 0 24px 0;
        }
        @include desktop {
            padding: 30px;
        }
    }
    &__name {
        color: $primaryFontColor;
        font-weight: 500;
        text-align: center;

        font-size: 16px;
        line-height: 1.19;
        margin-bottom: 10px;
        letter-spacing: 0.03em;
        @include tablet {
            margin-bottom: 0;
        }
    }
    &__profession {
        color: $secondaryFontColor;
        text-align: center;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    &__icon-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 182px;
        gap: 10px;
        @include desktop {
            display: flex;
            flex-direction: row;
            min-width: 182px;
            gap: 10px;
        }
    }
    &__link-icon {
        padding: 12px;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: flex;
        transition: background-color $primaryTransition;
        & > svg {
            width: 20px;
            height: 20px;
            fill: $iconColor;
            transition: fill $primaryTransition;
        }
        &:is(:hover, :focus) {
            background-color: $brandColor;
        }
        &:is(:hover, :focus) > svg {
            fill: white;
        }
    }
}
