$primaryFontColor: #212121;
$secondaryFontColor: #757575;
$brandColor: #2196f3;
$inactiveColor: #f5f4fa;
$backgroundColor: #2f303a;
$iconColor: #afb1b8;
$primaryTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
